{% extends "articulos/base.html" %}


{% block contenido %}
<br>
<br>
<div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h3>Subir tu Avatar</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Subir Imagen">
        </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
{% endblock contenido %}