{% extends "articulos/base.html" %}


{% block contenido %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <form method="post">
            <div class="mb-3">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <input type="submit" value="Iniciar Sesión">
        </form>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock contenido %}