{% extends "articulos/base.html" %}



{% block contenido %}
{% for articulo in articulos %}

<div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ articulo.titulo }}</h5>
              <p class="card-text">{{ articulo.cuerpo }}</p>
            </div>
        </div>
        <br>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
{% endfor %}
{% endblock contenido %}