{% extends "articulos/base.html" %}

{% block contenido %}
<section>
    <a href="{% url 'crear_articulos' %}">Crear Articulo</a>
    <form action="{% url 'buscar_articulos' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar">
    </form>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Subtitulo</th>
                <th>Cuerpo</th>
                <th>Autor</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.id }}</td>
                <td>{{ articulo.titulo }}</td>
                <td>{{ articulo.subtitulo }}</td>
                <td>{{ articulo.cuerpo }}</td>
                <td>{{ articulo.autor }}</td>
                <td>{{ articulo.fecha }}</td>
                <td>
                    <a href="{% url 'editar_articulos' articulo.id %}">Editar</a>
                </td>
                <td>
                    {% if user == articulo.creador %}
                    <form action="{% url 'eliminar_articulos' articulo.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Eliminar">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock contenido %}